body {
  background: linear-gradient(130deg, rgba(111,103,241,1) 0%, rgba(31,30,147,1) 60%, rgba(9,9,121,1) 100%) no-repeat;
  height: 97.75vh;
  width: 96vw;
}

ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #071016;
  color: white;
}

.PlayerCount {
  float: left;
  padding: 14px 16px;
}

.TieCount {
  float: left;
  padding: 14px 16px;
  display: none;
}

.Winner {
  float: left;
  padding: 14px 16px;
  display: none;
}

.EndGameButton {
  float: right;
  padding: 25px 20px;
  background: rgb(16, 17, 22);
  color: white;
  font-size: large;
  border: none;
}

.EndGameButton:hover {
  background: rgb(10, 11, 14);
}

.EndGameButton:active {
  background: rgb(0, 0, 0);
}



.Cards {
  max-width: 75%;
  position: relative;
  margin: auto;
}

.Player{
  background-color: rgb(46, 46, 46);
  color: white;
  width: 40%;
  height: 75vh;
  margin: 20px 20px;
  border: 20px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

.Left {
  float: left;
}

.Right {
  float: right;
}

#RightPlayer {
  margin: 10px;
}

.Choices {
  height: 60px;
  width: 35%;
  background: none;
  color: white;
  font-size: large;
  border: none;
}

.Choices:hover {
  background: rgb(31, 31, 31);
}

.Choices:active {
  background: rgb(0, 0, 0);
}

.CardData {
  margin: 10px;
}

.center {
  margin: 0;
  position: relative;
  top: 40%;
  left: 85%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Choosen {
    height: 60px;
    width: 30%;
    background: none;
    color: white;
    font-size: large;
    border: none;
}